### This Notebook contain 2 models .
#### > The first model made through GradientBoost Regressor and cross validation gave the accuracy of 0.044..
#### > The second model through Deep learning didn't givr such accuracy(DK why)

In [19]:
# importing libraries

import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from scipy.optimize import minimize

import warnings 
warnings.filterwarnings('ignore')

# Importing Data

In [20]:
# Importing Data
pd.set_option('display.max_columns',None)

# training data
train = pd.read_csv('train.csv')

# test data
test = pd.read_csv('test.csv')
df=pd.concat([train,test], sort=False)
train.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,NaN,NaN,NaN,38.305483,681.841086,22.131436,150.259290,129.841789,12.403812,490.446400,60.121580,57.028183,69.825369,46.018230,98.216072,174.617899,NaN,NaN,NaN,NaN,79.614066,73.071600,NaN,85.851544,NaN,73.166354,NaN,NaN,NaN,431.270303,466.089287,16.167871,8.223563,21158.324865,7760.639489,13.617993,94.859306,NaN,8.436392,NaN,NaN,NaN,NaN,1237.228737,118.434634,NaN,NaN,NaN,75.604799,NaN,NaN,42.616284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,152.522198,NaN,NaN,36.255559,423.973089,89.294181,117.069332,61.822590,13.054898,560.547706,58.573002,69.873905,76.752305,40.167960,88.322574,109.892385,NaN,NaN,NaN,NaN,63.813720,45.482071,NaN,93.526359,NaN,35.590371,NaN,NaN,NaN,221.411013,376.475151,36.639519,21.007339,24984.044391,6969.137436,19.484830,77.935108,NaN,12.549351,7.096070,8.098794,11.797213,13.477707,544.458925,53.753525,NaN,NaN,NaN,57.214150,57.314932,56.187355,29.908422,6.225946,44.780023,NaN,120.886080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,209.813266,NaN,NaN,18.093991,285.572207,57.491083,226.523760,134.558437,15.963001,555.012461,43.078497,59.462626,59.152506,91.093668,114.163995,230.573666,NaN,NaN,NaN,NaN,80.874149,75.217727,NaN,95.041272,NaN,48.892555,NaN,NaN,NaN,513.730396,581.063598,31.958515,18.954434,19860.121520,3276.634176,13.357158,87.508620,NaN,13.949733,6.494764,6.730145,6.960041,6.805405,1537.953483,126.063691,NaN,NaN,NaN,76.141735,42.405827,53.927715,18.732049,4.138115,24.030945,NaN,96.626831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.202247,47.785456,279.000175,193.228799,12.940991,766.807703,51.318372,50.535797,54.931369,92.727892,97.645232,198.971328,NaN,NaN,NaN,NaN,84.721882,82.026125,NaN,86.307832,NaN,NaN,NaN,NaN,NaN,497.785386,612.106994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.655551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,71.885345,NaN,NaN,34.497468,633.799718,103.562629,28.359587,51.098250,25.521926,585.434804,56.158054,85.020965,84.708158,71.493810,53.835875,61.008654,NaN,NaN,NaN,NaN,61.086141,66.286848,NaN,76.671844,NaN,NaN,NaN,NaN,NaN,150.173225,213.691418,29.577375,11.134867,75156.049406,8957.403969,NaN,241.901357,NaN,15.090820,11.830216,12.122982,NaN,NaN,232.573140,39.192277,NaN,NaN,134.967049,NaN,77.223935,75.475076,31.398393,NaN,66.674651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

In [21]:
# Converting Categorical to numeric
df["galaxy"] = df["galaxy"].astype('category')
df["galaxy"] = df["galaxy"].cat.codes

In [22]:
train = df[:3865]
test = df[3865:]
test=test.drop("y", axis = 1)
test_res= test.copy()

## Finding unique Galaxies

In [23]:
# From train set
train_gal=set(train["galaxy"])
s=0
for x in train_gal:
    s=s+len(train.loc[train['galaxy'] == x])
print("Total distinct galaxies: {}".format(len(train_gal)))
print("Average samples per galaxy: {}".format(s/len(train_gal)))

Total distinct galaxies: 181
Average samples per galaxy: 21.353591160220994

In [24]:
# unique galaxies foem test.csv
test_gal=set(test["galaxy"])
s=0
for x in test_gal:
    s=s+len(test.loc[test['galaxy'] == x])
print("Total distinct galaxies: {}".format(len(test_gal)))
print("Average samples per galaxy: {}".format(s/len(test_gal)))

Total distinct galaxies: 172
Average samples per galaxy: 5.174418604651163

In [25]:
print("Train Data shape :", train.shape)
print("Test Data shape :", test.shape)

Train Data shape : (3865, 80)
Test Data shape : (890, 79)

# Cross Validation Training Data

In [26]:
def cross_validation_loop(data,cor):
    labels= data['y']
    data=data.drop('galaxy', axis=1)    
    data=data.drop('y', axis=1)
    
    correlation=abs(data.corrwith(labels))
    columns=correlation.nlargest(cor).index
    data=data[columns]
    
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(data)
    data=imp.transform(data)

    scaler = StandardScaler().fit(data)
    data = scaler.transform(data)
        
    estimator = GradientBoostingRegressor(n_estimators=300)
    
    cv_results = cross_validate(estimator, data, labels, cv=4, scoring='neg_root_mean_squared_error')

    error=np.mean(cv_results['test_score'])
    
    return error

In [32]:
train_gal=set(train["galaxy"])
# train_gal.remove(126)
def loop_train(cor):
    errors=[]
    for gal in train_gal:
        index = train.index[train['galaxy'] == gal]
        data = train.loc[index]
        errors.append(cross_validation_loop(data,cor))
    return np.mean(errors)

In [30]:
cor=[20,10]
errors=[]
for x in cor:
    errors.append(loop_train(x))

In [31]:
print(errors)

[-0.006363456285066111, -0.006499261858746549]

### Corelation of 20 comes out to be best

In [29]:
print(errors)# error of corr 20 and corr 15

[-0.006334945300709283, -0.006384303802044315]

In [ ]:
# (test_res)

In [33]:

from sklearn.metrics import mean_squared_error
from math import sqrt
# Making predictions on Test data
def test_loop(data, test_data):
    labels= data['y']
    data=data.drop('galaxy', axis=1)    
    data=data.drop('y', axis=1)
    correlation=abs(data.corrwith(labels))
    columns=correlation.nlargest(20).index
    
    train_labels = labels
    train_data   = data[columns]
    test_data    = test_data[columns]
    
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(train_data)
    train_data = imp.transform(train_data)
    test_data  = imp.transform(test_data)

    scaler = StandardScaler().fit(train_data)
    train_data = scaler.transform(train_data)
    test_data = scaler.transform(test_data)

    model = GradientBoostingRegressor(n_estimators=300)
    model.fit(train_data, train_labels)
    
    pred_train = model.predict(train_data)
    print("RMSE on Train Dataset: ",np.sqrt(mean_squared_error(train_labels,pred_train)))

    predictions = model.predict(test_data)
    return (train_data,test_data ,predictions)

In [34]:
test = test_res
test=test.sort_values(by=['galaxy'])
test_pred = pd.DataFrame(0, index=np.arange(len(test)), columns=["predicted_y"])

### Looping over all galaxy types in the test set and making predictions

In [35]:
i=0
for gal in test_gal:
    count=len(test.loc[test['galaxy'] == gal])
    index = train.index[train['galaxy'] == gal]
    data = train.loc[index]
    X_train, X_test,pred=test_loop(data,test.loc[test['galaxy'] == gal])
    test_pred.loc[i:i+count-1,'predicted_y'] = pred
    i=i+count

RMSE on Train Dataset:  0.0003103933264359414
RMSE on Train Dataset:  0.00030816886438606055
RMSE on Train Dataset:  0.006016337318747309
RMSE on Train Dataset:  0.00030682953030826
RMSE on Train Dataset:  0.00411145755235837
RMSE on Train Dataset:  0.0003103784119077628
RMSE on Train Dataset:  0.00030385422492184314
RMSE on Train Dataset:  0.00031131240582540356
RMSE on Train Dataset:  0.0003136645714162281
RMSE on Train Dataset:  0.0003115709674413767
RMSE on Train Dataset:  0.0003033910768156592
RMSE on Train Dataset:  0.0003046384463673706
RMSE on Train Dataset:  0.00031231771309566466
RMSE on Train Dataset:  0.00030991755054793953
RMSE on Train Dataset:  0.00031020150647779375
RMSE on Train Dataset:  0.00031497839193197607
RMSE on Train Dataset:  0.0003050095481138212
RMSE on Train Dataset:  0.00031451652373319053
RMSE on Train Dataset:  0.00030075119349901876
RMSE on Train Dataset:  0.00030647222955124966
RMSE on Train Dataset:  0.0003110030271692002
RMSE on Train Dataset:  0.0003090186438182903
RMSE on Train Dataset:  0.0003145805661836299
RMSE on Train Dataset:  0.00030706237147263996
RMSE on Train Dataset:  0.000315049014685005
RMSE on Train Dataset:  0.001252386673676031
RMSE on Train Dataset:  0.00030213844928415445
RMSE on Train Dataset:  0.000306478131474417
RMSE on Train Dataset:  0.0003036677614366871
RMSE on Train Dataset:  0.0003085295910754087
RMSE on Train Dataset:  0.000305039622223679
RMSE on Train Dataset:  0.00031424328173331866
RMSE on Train Dataset:  0.0003021688685361335
RMSE on Train Dataset:  0.0003111283671213056
RMSE on Train Dataset:  0.0003150344531597537
RMSE on Train Dataset:  0.00031348890841241637
RMSE on Train Dataset:  0.000310585326418341
RMSE on Train Dataset:  0.00031466871232016324
RMSE on Train Dataset:  0.0003142596215647446
RMSE on Train Dataset:  0.00030208798373921
RMSE on Train Dataset:  0.0003137092628965789
RMSE on Train Dataset:  0.0005215760045808951
RMSE on Train Dataset:  0.00031486456315384993
RMSE on Train Dataset:  0.0016453233407797462
RMSE on Train Dataset:  0.0003058530837857347
RMSE on Train Dataset:  0.0003022404518548145
RMSE on Train Dataset:  0.00031320761371670454
RMSE on Train Dataset:  0.00031215389282581986
RMSE on Train Dataset:  0.0003117083998836123
RMSE on Train Dataset:  0.0003135362675841078
RMSE on Train Dataset:  0.0003079609699383301
RMSE on Train Dataset:  0.0003091828036582602
RMSE on Train Dataset:  0.00030670599571566145
RMSE on Train Dataset:  0.00031516084699189316
RMSE on Train Dataset:  0.0003081281887899647
RMSE on Train Dataset:  0.00031315939602547546
RMSE on Train Dataset:  0.0003128021459143578
RMSE on Train Dataset:  0.00030333186190102787
RMSE on Train Dataset:  0.00031222226919864284
RMSE on Train Dataset:  0.00031487702104921833
RMSE on Train Dataset:  0.0003106246423717279
RMSE on Train Dataset:  0.0003083170575007588
RMSE on Train Dataset:  0.00030945621609946775
RMSE on Train Dataset:  0.0003091683531661503
RMSE on Train Dataset:  0.00030995429227832956
RMSE on Train Dataset:  0.00030365977011870195
RMSE on Train Dataset:  0.0003087847021058987
RMSE on Train Dataset:  0.0003078988658684001
RMSE on Train Dataset:  0.00030631226699939014
RMSE on Train Dataset:  0.00031411163670968064
RMSE on Train Dataset:  0.00031096294467672733
RMSE on Train Dataset:  0.0003132113474967356
RMSE on Train Dataset:  0.0003076989262432737
RMSE on Train Dataset:  0.0003109541472482723
RMSE on Train Dataset:  0.00031262589193791537
RMSE on Train Dataset:  0.0003133493323531313
RMSE on Train Dataset:  0.001253466587429783
RMSE on Train Dataset:  0.000309170600080534
RMSE on Train Dataset:  0.000313404298532935
RMSE on Train Dataset:  0.0008387268223504378
RMSE on Train Dataset:  0.0003154329122316498
RMSE on Train Dataset:  0.0007604896001857718
RMSE on Train Dataset:  0.0003123029584515237
RMSE on Train Dataset:  0.00030593318574672674
RMSE on Train Dataset:  0.00030417642683065255
RMSE on Train Dataset:  0.00030452099949343264
RMSE on Train Dataset:  0.0003132874636928905
RMSE on Train Dataset:  0.0003095042168324305
RMSE on Train Dataset:  0.0003045203832893671
RMSE on Train Dataset:  0.0006375644872366276
RMSE on Train Dataset:  0.001198970973210776
RMSE on Train Dataset:  0.0003026346418333321
RMSE on Train Dataset:  0.0003035537144099163
RMSE on Train Dataset:  0.00030847747450676275
RMSE on Train Dataset:  0.00030597108852800366
RMSE on Train Dataset:  0.0003082613076006377
RMSE on Train Dataset:  0.0003156524848499018
RMSE on Train Dataset:  0.0003104896429628421
RMSE on Train Dataset:  0.0003135612216487311
RMSE on Train Dataset:  0.0003082659304199809
RMSE on Train Dataset:  0.0003070243247522092
RMSE on Train Dataset:  0.00030796593622285965
RMSE on Train Dataset:  0.0003086714959187634
RMSE on Train Dataset:  0.00031270506292964883
RMSE on Train Dataset:  0.0003087429032845694
RMSE on Train Dataset:  0.00030379212899215224
RMSE on Train Dataset:  0.0003052494150802794
RMSE on Train Dataset:  0.00031322586907047513
RMSE on Train Dataset:  0.0003141794023196538
RMSE on Train Dataset:  0.00031042734085241595
RMSE on Train Dataset:  0.00030820197694126527
RMSE on Train Dataset:  0.0003030067937869893
RMSE on Train Dataset:  0.00031193007041963126
RMSE on Train Dataset:  0.00031342612124517856
RMSE on Train Dataset:  0.000316039224645955
RMSE on Train Dataset:  0.00030598509188515356
RMSE on Train Dataset:  0.0003060774051857263
RMSE on Train Dataset:  0.00030708818333710294
RMSE on Train Dataset:  0.0003119244760508039
RMSE on Train Dataset:  0.00031311616319980545
RMSE on Train Dataset:  0.0003095004400494101
RMSE on Train Dataset:  0.0003014393903670519
RMSE on Train Dataset:  0.00030821274455645776
RMSE on Train Dataset:  0.00030915738863492915
RMSE on Train Dataset:  0.0003069801544931532
RMSE on Train Dataset:  0.0003077744606064924
RMSE on Train Dataset:  0.00030844172867549013
RMSE on Train Dataset:  0.00031205974213850766
RMSE on Train Dataset:  0.0003145206430757248
RMSE on Train Dataset:  0.0003096917400938444
RMSE on Train Dataset:  0.0003109684350217208
RMSE on Train Dataset:  0.00029922110433013526
RMSE on Train Dataset:  0.00030547026168033356
RMSE on Train Dataset:  0.00031577264934018543
RMSE on Train Dataset:  0.0034495017151309672
RMSE on Train Dataset:  0.00030248847329269145
RMSE on Train Dataset:  0.000564330998686878
RMSE on Train Dataset:  0.0003119202096961237
RMSE on Train Dataset:  0.00030916587999571326
RMSE on Train Dataset:  0.0003026280688766862
RMSE on Train Dataset:  0.00031412684720067053
RMSE on Train Dataset:  0.0003026440747246817
RMSE on Train Dataset:  0.0008297755080696433
RMSE on Train Dataset:  0.00030625665846151527
RMSE on Train Dataset:  0.0003075551408843827
RMSE on Train Dataset:  0.00031458825642724134
RMSE on Train Dataset:  0.00031479148585691696
RMSE on Train Dataset:  0.00047082841399701745
RMSE on Train Dataset:  0.000310508621190375
RMSE on Train Dataset:  0.00030706621616899936
RMSE on Train Dataset:  0.0003139726142342477
RMSE on Train Dataset:  0.0003056242063002695
RMSE on Train Dataset:  0.0009183101258710215
RMSE on Train Dataset:  0.0003060563921775498
RMSE on Train Dataset:  0.00031514185614688934
RMSE on Train Dataset:  0.00031320840182591937
RMSE on Train Dataset:  0.0003046616996233241
RMSE on Train Dataset:  0.0003087171035546024
RMSE on Train Dataset:  0.0003134813349267531
RMSE on Train Dataset:  0.0003038217561489137
RMSE on Train Dataset:  0.0003046587425766306
RMSE on Train Dataset:  0.0003062537707677817
RMSE on Train Dataset:  0.0003092441368262365
RMSE on Train Dataset:  0.0003125460567859223
RMSE on Train Dataset:  0.00030953295018495486
RMSE on Train Dataset:  0.00031570785836679824
RMSE on Train Dataset:  0.00031429785161674306
RMSE on Train Dataset:  0.00031553035985119394
RMSE on Train Dataset:  0.0003041476774689604
RMSE on Train Dataset:  0.0003107260516725325
RMSE on Train Dataset:  0.0003048902847797111
RMSE on Train Dataset:  0.0003039601402811463

In [36]:
test["predicted_y"]=test_pred.to_numpy()
test.sort_index(inplace=True)
predictions = test["predicted_y"]

In [37]:
# predictions
X_train.shape

(17, 20)

# Optimization Part

In [38]:
index = predictions
pot_inc = -np.log(index+0.01)+3

In [39]:
p2= pot_inc**2

In [40]:
ss = pd.DataFrame({
    'Index':test.index,
    'pred': predictions,
    'opt_pred':0,
    'eei':test['existence expectancy index'], # So we can split into low and high EEI galaxies
})

In [41]:
ss.loc[p2.nlargest(400).index, 'opt_pred']=100
ss=ss.sort_values('pred')
ss.iloc[400:600].opt_pred = 50
ss=ss.sort_index()

In [42]:
increase = (ss['opt_pred']*p2)/1000

In [43]:
print(sum(increase), ss.loc[ss.eei < 0.7, 'opt_pred'].sum(), ss['opt_pred'].sum())

1790.6108407399379 6500 50000

In [44]:
ss[['Index', 'pred', 'opt_pred']].to_csv('submission.csv', index=False)

# Using Deep Learning Model

In [ ]:
train.shape

In [ ]:
test_res.shape

In [ ]:
def preprocessing_train_data(data):
    labels= data['y']
    data=data.drop('galaxy', axis=1)    
    data=data.drop('y', axis=1)
    
    # Removing missing values
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(data)
    data=imp.transform(data)
    
    # Standardizing Values
    scaler = StandardScaler().fit(data)
    data = scaler.transform(data)
    
    return (data,labels)

In [ ]:
train_X, train_Y =  preprocessing_train_data(train)

In [ ]:
def preprocessing_test_data(data):
    data=data.drop('galaxy', axis=1)    
    
    # Removing missing values
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(data)
    data=imp.transform(data)
    
    # Standardizing Values
    scaler = StandardScaler().fit(data)
    data = scaler.transform(data)
    
    return data

In [ ]:
X_test = preprocessing_test_data(test_res)

In [ ]:
len(X_test)

In [ ]:
# importing Libraries
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.layers import Dense, Activation, Flatten, Dropout
from tensorflow.keras.models import Sequential

In [ ]:
# Model Architecture
def build_model():
    model = Sequential()

    # Input Layer
    model.add(Dense(128,kernel_initializer='normal', input_dim= train_X.shape[1], activation = 'relu' ))
    
    #Hidden Layers
    model.add(Dense(256, kernel_initializer='normal',activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(256, kernel_initializer='normal',activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(256, kernel_initializer='normal',activation='relu'))
    

    # Output Layer
    model.add(Dense(1, kernel_initializer='normal',activation='linear'))
    optimizer = tf.keras.optimizers.RMSprop(0.001)
    model.compile(loss='mean_absolute_error', optimizer = optimizer, metrics=['mean_absolute_error', 'mse'])
    return model

In [ ]:
model = build_model()

In [ ]:
model.summary()

In [ ]:
# plotting libraries
import tensorflow_docs as tfdocs
import tensorflow_docs.plots
import tensorflow_docs.modeling
import matplotlib.pyplot as plt
plotter = tfdocs.plots.HistoryPlotter(smoothing_std=2)

In [ ]:
EPOCHS = 500

history = model.fit(
  train_X, train_Y,
  epochs=EPOCHS, validation_split = 0.2, verbose=0,)
#   callbacks=[tfdocs.modeling.EpochDots()])

In [ ]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()

In [ ]:
history

In [ ]:
# hist = history.history
mae = history.history['mean_absolute_error']
val_mae = history.history['val_mean_absolute_error']
epochs = range(1, len(mae) + 1)
plt.plot(epochs, mae, 'bo', label='Training MAE')
plt.plot(epochs, val_mae, 'b', label='Validation MAE')
plt.title('Training and validation MAE')
plt.legend()
plt.figure()
plt.show()

In [ ]:
plotter = tfdocs.plots.HistoryPlotter(smoothing_std=2)

In [ ]:
plotter.plot({'Basic': history}, metric = "mean_absolute_error")
plt.ylim([0, 0.05])
plt.ylabel('MAE [MPG]')

In [ ]:
# loss, mae, mse = model.evaluate(X_test, test_labels, verbose=2)

# print("Testing set Mean Abs Error: {:5.2f} MPG".format(mae))

In [ ]:
X_test.shape

In [ ]:
predicted_val_from_tf = model.predict(X_test)

In [ ]:
predicted_val_from_tf

In [ ]:
type(predicted_val_from_tf)

In [ ]:
# train.index[train['galaxy'] == gal]

In [ ]:
X_test

In [ ]:
test['existence expectancy index']

In [ ]:
prediction = pd.DataFrame(predicted_val_from_tf,)

In [ ]:
new_prediction = predicted_val_from_tf.astype('float')

In [ ]:
predict = pd.Series(new_prediction.flatten())

In [ ]:
predict

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
pred_train = model.predict(train_features)
print("RMSE on Train Dataset: ",np.sqrt(mean_squared_error(train_labels,pred_train)))

## Making Submission File

In [ ]:
# def make_submission(predictions):
pot_inc = -np.log(index+0.01)+3
p2= pot_inc**2
my_submission = pd.DataFrame({
'Index':test.index,
'pred': predict,
'opt_pred':0,
'eei':test['existence expectancy index'],})

my_submission.loc[p2.nlargest(400).index, 'opt_pred']=100
my_submission=my_submission.sort_values('pred')
my_submission.iloc[400:600].opt_pred = 50
my_submission=my_submission.sort_index()

increase = (ss['opt_pred']*p2)/1000

#     print(sum(increase), my_submission.loc[my_submission.eei < 0.7, 'opt_pred'].sum(), my_submission['opt_pred'].sum())
    
#     return my_submission
# #     my_submission[['Index', 'pred', 'opt_pred']].to_csv('submission.csv', index=False)

In [ ]:
# my_submission[['Index', 'pred', 'opt_pred']].to_csv('submission.csv', index=False)

In [ ]:
# making cleaned trained and test data

def cleanend_train_csv(train_data):
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(train_data)
    train_data=imp.transform(train_data)
    X_imputed_df = pd.DataFrame(train_data, columns = train.columns)
    return X_imputed_df

In [ ]:
clean_train_data = cleanend_train_csv(train)

In [ ]:
# clean_train_data.to_csv('Cleaned_train.csv')

In [ ]:
def cleanend_test_csv(test_data):
    imp = SimpleImputer(missing_values=np.nan, strategy='mean').fit(test_data)
    test_data=imp.transform(test_data)
    X_imputed_df = pd.DataFrame(test_data, columns = test.columns)
    return X_imputed_df

In [ ]:
clean_test_data = cleanend_test_csv(test)

In [ ]:
# clean_test_data.to_csv('Cleaned_test.csv')